<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title>Politica de Privacidad</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <p>Pol&iacute;tica de Privacidad &ldquo;Reducci&oacute;n Inteligente de Combustible&rdquo;</p>

    <p>La presente Pol&iacute;tica de Privacidad establece los t&eacute;rminos en &ldquo;Cthulhu Corp&rdquo; que usa y protege la informaci&oacute;n que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compa&ntilde;&iacute;a est&aacute;
        comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de informaci&oacute;n personal con la cual usted pueda ser identificado, lo hacemos asegurando que s&oacute;lo se emplear&aacute; de acuerdo con los
        t&eacute;rminos de este documento. Sin embargo, esta Pol&iacute;tica de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta p&aacute;gina para asegurarse que est&aacute;
        de acuerdo con dichos cambios.<br /> Informaci&oacute;n que se recoge.<br /> Nuestro sitio web podr&aacute; recoger informaci&oacute;n personal, por ejemplo: Nombre, informaci&oacute;n de contacto como su direcci&oacute;n de correo electr&oacute;nico,
        datos de su veh&iacute;culo como modelo y marca, condiciones de uso y ubicaci&oacute;n geogr&aacute;fica, como puntos de partida y destino. As&iacute; mismo cuando sea necesario podr&aacute; ser requerida informaci&oacute;n espec&iacute;fica para
        procesar alg&uacute;n pedido o realizar una entrega o facturaci&oacute;n en caso de ser necesario.<br /> Uso de la informaci&oacute;n recogida.<br /> Nuestro sitio web emplea la informaci&oacute;n con el fin de proporcionar el mejor servicio posible,
        particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos electr&oacute;nicos peri&oacute;dicamente a trav&eacute;s de nuestro sitio con
        ofertas especiales, nuevos productos y otra informaci&oacute;n publicitaria que consideremos relevante para usted o que pueda brindarle alg&uacute;n beneficio, estos correos electr&oacute;nicos ser&aacute;n enviados a la direcci&oacute;n que usted
        proporcione y podr&aacute;n ser cancelados en cualquier momento.<br /> &ldquo;Cthulhu Corp&rdquo; est&aacute; altamente comprometido para cumplir con el compromiso de mantener su informaci&oacute;n segura. Usamos los sistemas m&aacute;s avanzados
        y los actualizamos constantemente para asegurarnos que no exista ning&uacute;n acceso no autorizado.<br /> Esta compa&ntilde;&iacute;a no vender&aacute;, ceder&aacute; ni distribuir&aacute; la informaci&oacute;n personal que es recopilada sin
        su consentimiento, salvo que sea requerido por un juez con un orden judicial.<br /> &ldquo;Cthulhu Corp&rdquo; Se reserva el derecho de cambiar los t&eacute;rminos de la presente Pol&iacute;tica de Privacidad en cualquier momento.<br />
    </p>
</ion-content>