<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title>perfil</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item *ngFor="let proinf of perfilinfo">
            <ion-avatar item-start>
                <ion-img [src]="proinf.imgprofile"></ion-img>
            </ion-avatar>
            <ion-label color="dark">
                <h2><b>{{proinf.Nombre}}</b></h2>
                <h2><b>{{proinf.Username}}</b></h2>
                <h3>{{proinf.Fechanac}}</h3>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-content>