<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title>perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item>
        <ion-avatar>
            <ion-img src = "https://meet.google.com/linkredirect?authuser=1&dest=https%3A%2F%2Fs3.amazonaws.com%2Fcdn.roosterteeth.com%2Fuploads%2Fimages%2F9cb43cf1-68de-4c64-af3a-151ffce45b27%2Foriginal%2F1353379-1439487753997-Bender-Avatar.png">
                
            </ion-img>
        </ion-avatar>
    </ion-item>
</ion-list>
</ion-content>