<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pagina principal</ion-title>
    </ion-toolbar>
</ion-header>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />


<ion-content padding>
    <ion-button shape="round">Iniciar Viaje</ion-button>
    <ion-button shape=round>Detener Viaje</ion-button>
    <ion-button shape=round>Estadisticas</ion-button>
</ion-content>

<div id='map' style='width: 400px; height: 300px;'></div>