<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <ion-menu side="start" menuId="first">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-icon name="home"></ion-icon>
                </ion-item>
                <ion-item>Login</ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu side="start" menuId="custom" class="my-custom-menu">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>

                <ion-item href="login">
                    <ion-icon name="home"></ion-icon>
                    Home
                </ion-item>
                <ion-item href="perfil">
                    <ion-icon name="contact"></ion-icon>Perfil</ion-item>
                <ion-item href="vehiculos">
                    <ion-icon name="car"></ion-icon>
                    Vehiculos
                </ion-item>
                <ion-item href="stadistics">
                    <ion-icon name="stats"></ion-icon>Estadisticas</ion-item>
                <ion-item href="recharge">
                    <ion-icon name="battery-charging"></ion-icon>Recarga</ion-item>
                <ion-item>
                    <ion-icon name="exit" (click)="Onlogout()"></ion-icon> Salir </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <!--<ion-menu side="end" type="push">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>End Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    -->
    <ion-router-outlet main></ion-router-outlet>
</ion-app>