<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>vehiculos</ion-title>
    </ion-toolbar>
</ion-header>
<!--
<ion-content *ngIf="items" class="list-mini-content" padding>
    <div *ngIf="items.length > 0" class="list-mini">
        <ion-list>
            <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
                <ion-thumbnail slot="start">
                    <img [src]="item.payload.doc.data().image">
                </ion-thumbnail>
                <ion-label>{{item.payload.doc.data().title}}</ion-label>
                <ion-button fill="clear" slot="end">Details</ion-button>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="items.length == 0" class="empty-list">
    </div>
</ion-content>-->
<ion-footer>
    <ion-toolbar color="medium">
        <ion-button href='first-config'>Registrar nuevo vehiculo</ion-button>
    </ion-toolbar>
</ion-footer>