<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Eco conduccion
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <h1 align="center">
            Eco conduccion
        </h1>
        <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/gasreductionmodular.appspot.com/o/WhatsApp%20Image%202019-05-08%20at%2021.56.54.jpeg?alt=media&token=2c99eb38-5bf6-409d-8473-74a2cdcb6af8" align='center' alt="">
        <h3>Es un software que ayuda a los usuarios a reducir su consumo de gasolina pormedio de tu perfil de conduccion, todos tenemos un perfil de conduccion distinto y este es un gran factor que no se ha tomado en cuenta y el cual afecta mucho tanto el
            consumo de gasolina como el estado de tu vehiculo
        </h3>
    </ion-card>
    <ion-card>
        <ion-button href="acceso">Ingresar ahora</ion-button>
        <ion-button href="register">Registrate</ion-button>
    </ion-card>
</ion-content>